*{
    
    font-family: "Open Sans";
}
body{
    margin: 0;
    padding: 0;
}
/*----------HEADER------------------------------------------*/
.container{
    width: 900px;
    margin: 0 auto;
}
.logo{
    width: 200px;
    margin: 10px;
}
.list-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;
}
header li{
    display: inline-block; 
}
header li a{
    text-decoration: none;
    color: #bcaba8;
    display: block;
    padding: 10px;
    font-size: 12px;
}
header li a:hover{
    border: 1px solid #bcaba8;
}
/*----------SECTION------------------------------------*/
section{
    background-color: #808080;
    color: #fff;
    padding: 20px 0 50px;
}
.col-1, .col-2{
    float: left;
    box-sizing: border-box;
    padding: 10px;
}
.col-1{
    width: 60%;
}
.col-2{
    width: 40%;
}
.clearfix{
    display: table;
}
.clearfix:after{
    content:" ";
}
.hero h1{
   font-size: 45px;
}
.hero p{
    font-size: 14px;
    text-align: left;
}
